/*---------------------------------------------------------------------------------
 
		Title:       nicely.io Styles for Desktop, mobile, tablet
		Author:      Loic Sans, loic@loicsans.com
	
---------------------------------------------------------------------------------*/

@import 'library.scss';

/********************************  Main Rules  ********************************/

body {
    font-family: $bodyFont;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    webkit-tap-highlight-color: rgba(white, .2);
    text-rendering: optimizelegibility;
}
html {
    height: 100%;
    width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $titleFont;
    font-weight: normal;
    .lighter {
        font-weight: 200;
        letter-spacing: -0.01em;
    }
}
p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0em 0em 25px;
    .brandSection & {
        font-family: $scriptFont;
        font-weight: 400;
    }
    @media(min-width:767px) {
        font-size: 20px;
        line-height: 1.6;
        margin: 0em 0em 35px;
    }
}
a {
    @include transition(all 0.2s ease-in-out);
    color: rgb(40, 195, 171);
    &:hover, &:focus {
        color: #176e61;
        text-decoration: none;
    }
}
.brandSection {
    h1 {
        color:$nicelyRed;
        font-size:430%;
        text-shadow: 1px 1px 0 black, 2px 2px 0 $nicelyRed;
        padding-top:100px;
        background:url("../images/brain.svg") center top no-repeat;
        background-size: 115px 115px;
        span {
        }
    }
    p {
        font-family: $scriptFont;
        font-size: 180%;
        color: $nicelyGrey;
    }

}
