/*---------------------------------------------------------------------------------
 
		Title:       nicely.io Styles for Desktop, mobile, tablet
		Author:      Loic Sans, loic@loicsans.com
	
---------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------
 
		Title:             Olymp.io SASS library and Style Guide
		Author:         Loic Sans, loic@olymp.io & Daniel Karlsson, daniel@olymp.io
	
---------------------------------------------------------------------------------*/
/* Media Queries
  ========================================================================== */
/* Placeholder
  ========================================================================== */
/********************************  Main Rules  ********************************/
/* line 12, custom.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
  text-rendering: optimizelegibility; }

/* line 21, custom.scss */
html {
  height: 100%;
  width: 100%; }

/* line 25, custom.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "brandon-grotesque", Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal; }
  /* line 33, custom.scss */
  h1 .lighter,
  h2 .lighter,
  h3 .lighter,
  h4 .lighter,
  h5 .lighter,
  h6 .lighter {
    font-weight: 200;
    letter-spacing: -0.01em; }

/* line 38, custom.scss */
p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0em 0em 25px; }
  /* line 42, custom.scss */
  .brandSection p {
    font-family: "grafolita-script", "Dancing Script", "sorts-mill-goudy", "lobster", cursive;
    font-weight: 400; }
  @media (min-width: 767px) {
    /* line 38, custom.scss */
    p {
      font-size: 20px;
      line-height: 1.6;
      margin: 0em 0em 35px; } }

/* line 52, custom.scss */
a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #28c3ab; }
  /* line 55, custom.scss */
  a:hover, a:focus {
    color: #176e61;
    text-decoration: none; }

/* line 61, custom.scss */
.brandSection h1 {
  color: #dd3333;
  font-size: 430%;
  text-shadow: 1px 1px 0 black, 2px 2px 0 #dd3333; }
/* line 68, custom.scss */
.brandSection p {
  font-family: "grafolita-script", "Dancing Script", "sorts-mill-goudy", "lobster", cursive;
  font-size: 180%;
  color: rgba(255, 255, 255, 0.3); }
